@using MvcProje.Models.Entity
@model List<Animal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle" style="color:#8E44AD">Hayvanlar</h3>
		<div class="inner-sec">
			<!--left-->
			<div class="left-blog-info-w3layouts-agileits text-left">
				<div class="row">
					@foreach (var item in Model)
					{
						<div class="col-lg-4 card">
							<a>
								<img src="@item.AnimalImage" class="card-img-top img-fluid" alt="">
							</a>
							<div class="card-body">
								<ul class="blog-icons my-4">
									<li>
										<i class="fas fa-circle" style="color:#8E44AD"></i>@item.AnimalAge Yaşında
									</li>
									<li>
										<i class="fa fa-arrow-right" style="color:#8E44AD"></i>@item.CategoryID. kategori
									</li>

								</ul>
								<h5 class="card-title">
									<a>@item.AnimalName</a>
								</h5>
								<p class="card-text mb-3">@item.AnimalDescription </p>
							</div>
						</div>
					}
				</div>
				<!--//left-->
			</div>
		</div>
	</div>
</section>
